<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="http://placehold.it/1140x400/333333/ffffff/&amp;text=[Banners] Principal" style="width:100%">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="home-slide-promotions">
        <ul>
          <li ng-repeat="banner in banners">
            <a href="{{ banner.link }}"><img ng-src="{{ banner.image }}"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="bold text-center bg-gray home-articles-title">Ultimos visitados</div>
      <img src="http://placehold.it/300x280/CCCCCC/000000/&amp;text=[Articulos]" style="width:100%">
    </div>
    <div class="col-md-8">
      <div class="bold text-center bg-gray home-articles-title">Mas visitados</div>
      <img src="http://placehold.it/630x280/CCCCCC/000000/&amp;text=[Articulos]" style="width:100%">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <img src="http://placehold.it/1140x180/333333/ffffff/&amp;text=[Banners] Micrositios" style="width:100%">
    </div>
  </div>
</div>